<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CustomerMapper">
    <select id="listCustomer" resultType="com.example.demo.domain.Customer">
        SELECT id,
            name,
            email,
            created_date,
            address,
            state,
            city,
            zipcode,
            country
        FROM Customer
    </select>

    <select id="getCustomer" parameterType="long" resultType="com.example.demo.domain.Customer">
        SELECT id,
            name,
            email,
            created_date,
            address,
            state,
            city,
            zipcode,
            country
        FROM Customer
        where id = #{id}
    </select>

    <insert id="createCustomer" parameterType="map">
        Insert into customer(
            id,
            name,
            email,
            created_date,
            address,
            state,
            city,
            zipcode,
            country
        )
        values(
            nextval('customer_seq'),
            #{name},
            #{email},
            #{date},
            #{address},
            #{state},
            #{city},
            #{zipcode},
            #{country}
        )
    </insert>

    <update id="updateCustomer" parameterType="map">
        update customer set
            name=#{name},
            email=#{email},
            address=#{address},
            state=#{state},
            city=#{city},
            zipcode=#{zipcode},
            country=#{country}
        where id=#{id}
    </update>

    <delete id="deleteCustomer" parameterType="long">
        delete from CUSTOMER
        where id=#{id}
    </delete>
</mapper>