.menu_container{
    width: 100%;
    height: 100%;
    margin: 20px;
    display: flex;
}

.menuList{
    background-color: white;
    width: 400px;
    margin-right: 20px;
}

.menuListTitle{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-bottom: 1px solid lightblue;
}

.menuListContent{
    height: 550px;
    overflow-y : scroll;
}

.menuListContent *{
    padding: 2px;
    margin-bottom: 3px;

    display: flex;
    justify-content: left;
    align-items: center;

    svg {
        margin: 0;
        background-color: transparent;
    }
}
.menuListContent .mainMenu:hover{
    background-color: rgb(25, 118, 210, 0.2);
}

.menuListContent .subMenu{
    margin-left: 30px;
    width: 90%;
    background-color: white;
    border: 1px solid transparent;
}

.menuListContent .subMenu.unable{
    color : lightgrey;
}

.menuListContent .subMenu:hover{
    background-color: rgb(25, 118, 210, 0.2);
}

.menuList .menuBtns{
    padding: 10px;
    border-top: 1px solid lightblue;
}

.menuForm{
    background-color: white;
    width:500px;

    .menuFormTitle{
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        border-bottom: 1px solid lightblue;
    }

    .menuFormBtns{
        height: 40px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        gap:10px;

        button {
            height: 35px;
        }
    }

}

